# Dependencies
node_modules/

# Build outputs
dist/
*.tsbuildinfo
.output/
.vinxi/

# Panda CSS generated
styled-system/

# Turbo
.turbo/

# TypeSpec
tsp-output/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store

# Logs
*.log

# Environment
.env
.env.local
*.timestamp_*.js
